.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel-list {
  list-style: none;
  width: 300%;
  overflow: hidden;
  position: relative;
}

.carousel-item {
  animation: carousel-container 25s infinite;
  float: left;
  position: relative;
  width: 33.333%;
}

.carousel-item-image {
  width: 100%;
}

.carousel-item-heading {
  animation: carousel-item-heading 25s infinite;
  background: black;
  color: #D16428;
  display: block;
  font-size: 0.8em;
  left: 12px;
  padding: 8px 8px 6px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 12px;
}

.carousel-item-description {
  animation: carousel-item-description 25s infinite;
  background: black;
  bottom: 15px;
  color: #ddd;
  display: block;
  font-size: 0.8em;
  padding: 8px 8px 6px;
  position: absolute;
  right: 10px;
  text-align: center;
  text-transform: uppercase;
}

@keyframes carousel-container{
    0%      { left: 0%; }
    30%     { left: 0%; }
    33.33%  { left: -33.333%; }
    63.33%  { left: -33.333%; }
    66.66%  { left: -66.666%; }
    96.66%  { left: -66.666%; }
    100%    { left: 0%; }
}

@keyframes carousel-item-heading{
    0%      { opacity: 0; }
    5%      { opacity: 1; }
    25%     { opacity: 1; }
    30%     { opacity: 0; }
    33.33%  { opacity: 0; }
    38.33%  { opacity: 1; }
    58.33%  { opacity: 1; }
    63.33%  { opacity: 0; }
    66.66%  { opacity: 0; }
    69.66%  { opacity: 1; }
    91.66%     { opacity: 1; }
    100%    { opacity: 0; }
}

@keyframes carousel-item-description{
    0%      { opacity: 0; }
    5%      { opacity: 1; }
    25%     { opacity: 1; }
    30%     { opacity: 0; }
    33.33%  { opacity: 0; }
    38.33%  { opacity: 1; }
    58.33%  { opacity: 1; }
    63.33%  { opacity: 0; }
    66.66%  { opacity: 0; }
    69.66%  { opacity: 1; }
    91.66%     { opacity: 1; }
    100%    { opacity: 0; }
}
