<div class="header-container">
  <div class="header">
    <div class="header-logo">
      <img class="logo" src="/assets/img/logo.png">
    </div>
    <div class="header-social">
    </div>
  </div>
</div> <!-- HEADER END -->
<div class="navbar-container">
  <ul class="navbar-list" [ngStyle]="toggleMenu()">
    <li class="navbar-item"><a class="navbar-link navbar-link-active">Home</a></li>
    <li class="navbar-item"><a class="navbar-link">Features</a></li>
    <li class="navbar-item"><a class="navbar-link">Matches</a></li>
    <li class="navbar-item"><a class="navbar-link">Clan Members</a></li>
    <li class="navbar-item"><a class="navbar-link">Portfolio</a></li>
    <li class="navbar-item"><a class="navbar-link">Gallery</a></li>
    <li class="navbar-item"><a class="navbar-link">Forums</a></li>
    <li class="navbar-item"><a class="navbar-link">Shop</a></li>
    <li class="navbar-item"><a class="navbar-link">Blog</a></li>
    <li class="navbar-item"><a class="navbar-link">Contact</a></li>
  </ul>
  <p class="fa fa-bars fa-2x navbar-menu-toggle"(click)="toggle = !toggle;"></p>
</div> <!-- NAVBAR END -->
