<div class="header-container">
  <div class="header">
    <div class="header-logo">
      <img class="logo" src="/assets/img/logo.png">
    </div>
    <div class="header-social">
    </div>
  </div>
</div> <!-- HEADER END -->
<div class="navbar-container">
  <ul class="navbar-list" (window:resize)="toggleMenuResize()" [ngStyle]="toggleMenu()">
    <li class="navbar-item"><a class="navbar-link navbar-link-active">Home</a></li>
    <li class="navbar-item"><a class="navbar-link">Reviews</a></li>
    <li class="navbar-item"><a class="navbar-link">Blog</a></li>
    <li class="navbar-item">
      <form>
        <input class="navbar-search" type="text" placeholder="Search..." #search (keyup)="0">
        <p class="fa fa-search navbar-search-icon" *ngIf="search.value">
      </form>
      </li>
  </ul>
  <p class="fa fa-bars fa-2x navbar-menu-toggle"(click)="toggle = !toggle;"></p>
</div> <!-- NAVBAR END -->
