<div class="content-container" *ngFor="let item of game">
  <div class="left-content-container">
    <img class="game-primary-image" src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{item.cover.cloudinary_id}}">
    <p class="game-release"> Release Date: {{item.first_release_date | date}}</p>
  </div>
  <div class="right-content-container">
    <h2 class="game-title">{{item.name}}</h2>
    <p class="game-summary">Summary: {{item.summary}}</p>
    <div *ngIf="item.videos">
      <h3 class="videos-intro">Videos</h3>
    </div>
    <div class="videos-container">
      <div class="video-container" *ngFor="let video of item.videos; let i = index">
        <iframe width="853" height="480" [src]="videoUrl(i)" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div *ngIf="item.screenshots">
      <h3 class="images-intro">Screenshots</h3>
    </div>
    <div class="images-container">
      <div class="image-container" *ngFor="let screenshot of item.screenshots; let i = index">
        <img class="screenshot" src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{screenshot.cloudinary_id}}">
      </div>
    </div>
  </div>
</div>
