<div class="games-container" *ngIf="games">
  <h2>Popular Games</h2>
  <!-- <hr> -->
  <div class="games-item" *ngFor="let game of games">
    <div class="game-image-container">
      <img src="https://images.igdb.com/igdb/image/upload/t_thumb/{{game[0].cover.cloudinary_id}}.png">
    </div>
    <div class="game-description-container">
      <h3>{{game[0].name}}</h3>
      <p><strong>Release date:</strong> {{game[0].release_dates[0].human | date}}</p>
      <p *ngIf="game[0].summary"><strong>Summary: </strong>{{game[0].summary | slice:0:150}}...</p>
    </div>
  </div>
</div>
