<div class="content-container">
  <app-news-ticker></app-news-ticker>
  <div class="left-content-container">
    <app-reviews-carousel></app-reviews-carousel>
    <app-latest-reviews></app-latest-reviews>
    <app-rpg-latest></app-rpg-latest>
    <app-adventure-latest></app-adventure-latest>
    <app-strategy-latest></app-strategy-latest>
    <app-sport-latest></app-sport-latest>
  </div>
  <div class="right-content-container">
    <app-featured-game></app-featured-game>
    <app-latest-games></app-latest-games>
    <app-latest-blog></app-latest-blog>
  </div>
</div>
