<div class="content-container">
  <div class="tech-news-container">
    <p class="sub-heading sub-heading--rounded">Tech News</p>
    <div class="tech-news-output">
      Some tech news text goes here
    </div>
  </div> <!-- TECH-NEWS-CONTAINER END -->
  <div class="left-content-container">
    <div class="carousel-container">
      <ul class="carousel-list">
        <li class="carousel-item">
          <img>
          <h3 class="carousel-item-heading">Carousel Heading #1</h3>
          <p class="carousel-item-description">Carousel Description #1</p>
        </li>
        <li class="carousel-item">
          <img>
          <h3 class="carousel-item-heading">Carousel Heading #1</h3>
          <p class="carousel-item-description">Carousel Description #1</p>
        </li>
        <li class="carousel-item">
          <img>
          <h3 class="carousel-item-heading">Carousel Heading #1</h3>
          <p class="carousel-item-description">Carousel Description #1</p>
        </li>
      </ul>
    </div> <!-- CAROUSEL CONTAINER END -->
    <div class="latest-reviews-container">
      <div class="latest-reviews-heading">
        <p class="sub-heading sub-heading--rounded">Latest Reviews</p>
      </div>
      <div class="latest-reviews-item-container">
        <div class="latest-reviews-item">
          <img>
          <h4 class="latest-reviews-item-heading">Review heading #1</h4>
          <p class="latest-reviews-item-description">Review Description #1</p>
        </div>
        <div class="latest-reviews-item">
          <img>
          <h4 class="latest-reviews-item-heading">Review heading #1</h4>
          <p class="latest-reviews-item-description">Review Description #1</p>
        </div>
        <div class="latest-reviews-item">
          <img>
          <h4 class="latest-reviews-item-heading">Review heading #1</h4>
          <p class="latest-reviews-item-description">Review Description #1</p>
        </div>
        <div class="latest-reviews-item">
          <img>
          <h4 class="latest-reviews-item-heading">Review heading #1</h4>
          <p class="latest-reviews-item-description">Review Description #1</p>
        </div>
        <div class="latest-reviews-item">
          <img>
          <h4 class="latest-reviews-item-heading">Review heading #1</h4>
          <p class="latest-reviews-item-description">Review Description #1</p>
        </div>
        <div class="latest-reviews-item">
          <img>
          <h4 class="latest-reviews-item-heading">Review heading #1</h4>
          <p class="latest-reviews-item-description">Review Description #1</p>
        </div>
      </div>
    </div>
    <div class="rpg-container">
      <div class="rpg-heading-container">
        <p class="sub-heading sub-heading--rounded">RPG</p>
      </div>
      <div class="rpg-content-container">
        <div class="rpg-main-item">
          <img>
          <h4 class="rpg-main-item-heading">RPG Heading</h4>
          <p class="rpg-main-item-description">RPG Description</p>
        </div>
        <div class="rpg-sub-item-container">
          <div class="rpg-sub-item">
            <img>
            <h4 class="rpg-sub-item-heading">RPG Sub item heading</h4>
            <p class="item-statistics">Stats</p>
          </div>
          <div class="rpg-sub-item">
            <img>
            <h4 class="rpg-sub-item-heading">RPG Sub item heading</h4>
            <p class="item-statistics">Stats</p>
          </div>
          <div class="rpg-sub-item">
            <img>
            <h4 class="rpg-sub-item-heading">RPG Sub item heading</h4>
            <p class="item-statistics">Stats</p>
          </div>
        </div>
      </div>
      <div class="adventure-content-container">
        <div class="adventure-main-item">
          <img>
          <h4 class="adventure-main-item-heading">adventure Heading</h4>
          <p class="adventure-main-item-description">adventure Description</p>
        </div>
        <div class="adventure-sub-item-container">
          <div class="adventure-sub-item">
            <img>
            <h4 class="adventure-sub-item-heading">adventure Sub item heading</h4>
            <p class="item-statistics">Stats</p>
          </div>
          <div class="adventure-sub-item">
            <img>
            <h4 class="adventure-sub-item-heading">adventure Sub item heading</h4>
            <p class="item-statistics">Stats</p>
          </div>
          <div class="adventure-sub-item">
            <img>
            <h4 class="adventure-sub-item-heading">adventure Sub item heading</h4>
            <p class="item-statistics">Stats</p>
          </div>
        </div>
      </div>
      <div class="strategy-content-container">
        <div class="strategy-main-item">
          <img>
          <h4 class="strategy-main-item-heading">Strategy Heading</h4>
          <p class="strategy-main-item-description">Strategy Description</p>
        </div>
        <div class="strategy-sub-item-container">
          <div class="strategy-sub-item">
            <img>
            <h4 class="strategy-sub-item-heading">Strategy Sub item heading</h4>
            <p class="item-statistics">Stats</p>
          </div>
          <div class="strategy-sub-item">
            <img>
            <h4 class="strategy-sub-item-heading">Strategy Sub item heading</h4>
            <p class="item-statistics">Stats</p>
          </div>
          <div class="strategy-sub-item">
            <img>
            <h4 class="strategy-sub-item-heading">Strategy Sub item heading</h4>
            <p class="item-statistics">Stats</p>
          </div>
        </div>
      </div>
      <div class="sport-content-container">
        <div class="sport-main-item">
          <img>
          <h4 class="sport-main-item-heading">Sport Heading</h4>
          <p class="sport-main-item-description">Sport Description</p>
        </div>
        <div class="sport-sub-item-container">
          <div class="sport-sub-item">
            <img>
            <h4 class="sport-sub-item-heading">Sport Sub item heading</h4>
            <p class="item-statistics">Stats</p>
          </div>
          <div class="sport-sub-item">
            <img>
            <h4 class="sport-sub-item-heading">Sport Sub item heading</h4>
            <p class="item-statistics">Stats</p>
          </div>
          <div class="sport-sub-item">
            <img>
            <h4 class="sport-sub-item-heading">Sport Sub item heading</h4>
            <p class="item-statistics">Stats</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-content-container">
    <div class="featured-game-container">
      <div class="featured-game-header">
        <p class="sub-heading sub-heading--rounded">RPG</p>
      </div>
      <div class="featured-game-item">
        <img>
        <h4 class="featured-game-item-header">Featured game name</h4>
        <p class="feature-game-item-description">Featured game description</p>
      </div>
    </div>
    <div class="latest-games-container">
      <div class="latest-games-heading">
        <p class="sub-heading sub-heading--rounded">Latest Games</p>
      </div>
      <div class="latest-games-item">
        <img>
        <h4 class="latest-games-item-heading">Latest Games Heading</h4>
      </div>
      <div class="latest-games-item">
        <img>
        <h4 class="latest-games-item-heading">Latest Games Heading</h4>
      </div>
      <div class="latest-games-item">
        <img>
        <h4 class="latest-games-item-heading">Latest Games Heading</h4>
      </div>
      <div class="latest-games-item">
        <img>
        <h4 class="latest-games-item-heading">Latest Games Heading</h4>
      </div>
      <div class="latest-games-item">
        <img>
        <h4 class="latest-games-item-heading">Latest Games Heading</h4>
      </div>
      <div class="latest-games-item">
        <img>
        <h4 class="latest-games-item-heading">Latest Games Heading</h4>
      </div>
      <div class="latest-games-item">
        <img>
        <h4 class="latest-games-item-heading">Latest Games Heading</h4>
      </div>
      <div class="latest-games-item">
        <img>
        <h4 class="latest-games-item-heading">Latest Games Heading</h4>
      </div>
    </div>
    <div class="latest-blog-container">
      <div class="latest-blog-heading">
        <p class="sub-heading sub-heading--rounded">Latest Blog Posts</p>
      </div>
      <div class="latest-blog-item">
        <img>
        <h4 class="latest-blog-item-heading">Latest Blog Heading</h4>
        <p class="latest-blog-item-description">Latest Blog description</p>
      </div>
    </div>
  </div>
</div>
