<div class="content-container">
  <app-news-ticker></app-news-ticker>
  <div class="left-content-container">
    <app-reviews-carousel></app-reviews-carousel>
    <app-latest-reviews></app-latest-reviews>
    <app-rpg-latest></app-rpg-latest>
    <app-adventure-latest></app-adventure-latest>
    <app-strategy-latest></app-strategy-latest>
    <app-sport-latest></app-sport-latest>
  </div>
  <div class="right-content-container">
    <app-featured-game></app-featured-game>
    <div class="latest-games-container">
      <div class="latest-games-heading">
        <p class="sub-heading sub-heading--rounded">Latest Games</p>
      </div>
      <div class="latest-games-item">
        <img>
        <h4 class="latest-games-item-heading">Latest Games Heading</h4>
      </div>
      <div class="latest-games-item">
        <img>
        <h4 class="latest-games-item-heading">Latest Games Heading</h4>
      </div>
      <div class="latest-games-item">
        <img>
        <h4 class="latest-games-item-heading">Latest Games Heading</h4>
      </div>
      <div class="latest-games-item">
        <img>
        <h4 class="latest-games-item-heading">Latest Games Heading</h4>
      </div>
      <div class="latest-games-item">
        <img>
        <h4 class="latest-games-item-heading">Latest Games Heading</h4>
      </div>
      <div class="latest-games-item">
        <img>
        <h4 class="latest-games-item-heading">Latest Games Heading</h4>
      </div>
      <div class="latest-games-item">
        <img>
        <h4 class="latest-games-item-heading">Latest Games Heading</h4>
      </div>
      <div class="latest-games-item">
        <img>
        <h4 class="latest-games-item-heading">Latest Games Heading</h4>
      </div>
    </div>
    <div class="latest-blog-container">
      <div class="latest-blog-heading">
        <p class="sub-heading sub-heading--rounded">Latest Blog Posts</p>
      </div>
      <div class="latest-blog-item">
        <img>
        <h4 class="latest-blog-item-heading">Latest Blog Heading</h4>
        <p class="latest-blog-item-description">Latest Blog description</p>
      </div>
    </div>
  </div>
</div>
