<div class="latest-reviews-container">
  <div class="latest-reviews-heading">
    <p class="sub-heading sub-heading--rounded">Latest Reviews</p>
  </div>
  <div class="latest-reviews-item-container">
    <div class="latest-reviews-item" *ngFor="let review of latestReviews">
      <img class="latest-reviews-item-image" src="https://images.igdb.com/igdb/image/upload/t_screenshot_big/{{review.imgUrl}}">
      <h4 class="latest-reviews-item-heading">{{review.name}}</h4>
      <p class="fa fa-comment latest-reviews-item-description latest-reviews-item-description-comment">  {{review.review | slice:0:80}}...</p>
    </div>
  </div>
</div>
