.latest-reviews-container {
  margin-top: 20px;
}

.latest-reviews-heading {
  background: black;
  width: 100%;
}

.sub-heading {
  width: 70%;
}

.latest-reviews-item-container {
  padding: 17px;
  background: white;
  display: flex;
  flex-wrap: wrap;
}

.latest-reviews-item {
  margin-bottom: 20px;
}

.latest-reviews-item-image {
  width: 100%;
}

.latest-reviews-item-heading {
  color: #D16428;
  width: 100%;
  margin: 5px 0;
}

.latest-reviews-item-description {
  color: #555;
  font-size: 0.8em;
  margin-right: 5px;
}
