/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial;
}

/* Global Styles */

.sub-heading {
  background-image: linear-gradient(to top, #C43E2F, #D16428);
  color: #ddd;
  display: inline-block;
  font-weight: 600;
  padding: 7px 20px 5px 10px;
  text-transform: uppercase;
}

.sub-heading--rounded {
  border-radius: 0px 100px 0px 0px / 0px 150px 0px 0px;
}

/* Global Styles End*/
