/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial;
}

/* Global Styles */

.sub-heading {
  background-image: linear-gradient(to top, #C43E2F, #D16428);
  color: #ddd;
  font-weight: 600;
  padding: 7px 0 5px 10px;
  text-transform: uppercase;
}

.sub-heading--rounded {
  border-radius: 0px 100px 0px 0px / 0px 150px 0px 0px;
}

/* Global Styles End*/

/* GENRE COMPONENT - LAT£ST */

.genre-container {
  width: 100%;
}

.genre-heading-container {
  background: black;
  width: 100%;
}

.genre-content-container {
  padding: 17px;
  background: white;
  display: flex;
  flex-wrap: wrap;
}

.genre-main-item {
  margin-bottom: 20px;
}

.genre-main-item-image {
  width: 100%;
}

.genre-main-item-heading {
  color: #D16428;
  width: 100%;
  margin: 5px 0;
}

.genre-main-item-description {
  color: #555;
  font-size: 0.8em;
  margin: 5px 10px 5px 0;
}

.genre-item-description {
  color: #555;
  font-size: 0.8em;
  margin: 15px 10px 15px 0;
}

.genre-sub-item-container {
  width: 100%
}

.genre-sub-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.genre-sub-item-image {
  width: 90px;
  height: 90px;
  margin-right: 5px;
}

.genre-sub-item-heading {
  color: #D16428;
  width: 50%;
  margin: 5px 0;
}
