<div class="rpg-container">
  <div class="rpg-heading-container">
    <p class="sub-heading sub-heading--rounded">RPG</p>
  </div>
  <div class="rpg-content-container">
    <div class="rpg-main-item">
      <img>
      <h4 class="rpg-main-item-heading">RPG Heading</h4>
      <p class="rpg-main-item-description">RPG Description</p>
    </div>
    <div class="rpg-sub-item-container">
      <div class="rpg-sub-item">
        <img>
        <h4 class="rpg-sub-item-heading">RPG Sub item heading</h4>
        <p class="item-statistics">Stats</p>
      </div>
      <div class="rpg-sub-item">
        <img>
        <h4 class="rpg-sub-item-heading">RPG Sub item heading</h4>
        <p class="item-statistics">Stats</p>
      </div>
      <div class="rpg-sub-item">
        <img>
        <h4 class="rpg-sub-item-heading">RPG Sub item heading</h4>
        <p class="item-statistics">Stats</p>
      </div>
    </div>
  </div>
</div>
